![](pictures/shopping_propensity.png)

<b>  </b>  
<b>  </b>  
<b>  </b>  
<b>  </b>  
Ноутбук от 30.09.23 
<b>  </b>  
<b>  </b>  
<b>  </b>  
<b>  </b>  
<b>  </b>  
<b>  </b>  
<b>  </b>   
**_"Data Science Analyst"_  
_МОДЕЛЬ СКЛОННОСТИ КЛИЕНТОВ К ПОКУПКАМ В ФЕДЕРАЛЬНОЙ СЕТИ ПРОДАЖ СПОРТИВНЫХ ТОВАРОВ_**  

Выполнено по технологии CRISP-DM:  
Аргентов Сергей, г.Липецк  
https://argentov.pro
<b>  </b>  
<b>  </b>

<h1>СОДЕРЖАНИЕ<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Предобработка-данных" data-toc-modified-id="1.-Предобработка-данных-1">1. Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#1.1.-Анализ-источников-данных" data-toc-modified-id="1.1.-Анализ-источников-данных-1.1">1.1. Анализ источников данных</a></span></li><li><span><a href="#1.2.-Устранение-пропусков-в-данных" data-toc-modified-id="1.2.-Устранение-пропусков-в-данных-1.2">1.2. Устранение пропусков в данных</a></span><ul class="toc-item"><li><span><a href="#1.2.1.-Проверим-гипотезу-что-для-товаров-с-пропуском-в-признаке-&quot;гендерная-принадлежность-потенциальных-покупателей-товара&quot;-есть-признаки-принадлежности-к-полу-в-наименовании-товара" data-toc-modified-id="1.2.1.-Проверим-гипотезу-что-для-товаров-с-пропуском-в-признаке-&quot;гендерная-принадлежность-потенциальных-покупателей-товара&quot;-есть-признаки-принадлежности-к-полу-в-наименовании-товара-1.2.1">1.2.1. Проверим гипотезу что для товаров с пропуском в признаке "гендерная принадлежность потенциальных покупателей товара" есть признаки принадлежности к полу в наименовании товара</a></span></li><li><span><a href="#1.2.2.-Проверим-гипотезы-о-причинах-пропусков-знаений-в-признаке-&quot;цвет&quot;" data-toc-modified-id="1.2.2.-Проверим-гипотезы-о-причинах-пропусков-знаений-в-признаке-&quot;цвет&quot;-1.2.2">1.2.2. Проверим гипотезы о причинах пропусков знаений в признаке "цвет"</a></span><ul class="toc-item"><li><span><a href="#1.2.2.1.-Проверим-попала-ли-информация-об-уникальныхзначениях-признака-&quot;цвет&quot;-в-наименование-товара-без-признака-&quot;цвет&quot;" data-toc-modified-id="1.2.2.1.-Проверим-попала-ли-информация-об-уникальныхзначениях-признака-&quot;цвет&quot;-в-наименование-товара-без-признака-&quot;цвет&quot;-1.2.2.1">1.2.2.1. Проверим попала ли информация об уникальныхзначениях признака "цвет" в наименование товара без признака "цвет"</a></span></li><li><span><a href="#1.2.2.2.-Проверим-есть-ли-одноимённые-товары-с-наличием-значения-в-признаке-&quot;цвет&quot;-для-товаров-с-пропущенным-значением-в-признаке-&quot;цвет&quot;" data-toc-modified-id="1.2.2.2.-Проверим-есть-ли-одноимённые-товары-с-наличием-значения-в-признаке-&quot;цвет&quot;-для-товаров-с-пропущенным-значением-в-признаке-&quot;цвет&quot;-1.2.2.2">1.2.2.2. Проверим есть ли одноимённые товары с наличием значения в признаке "цвет" для товаров с пропущенным значением в признаке "цвет"</a></span></li><li><span><a href="#1.2.2.3.-Проставим-признак-цвет-для-оставшихся-3,2-тыс.-товаров-при-наличии-в-названии-товара-и-не-определённого-автоматически-признака-&quot;цвет&quot;" data-toc-modified-id="1.2.2.3.-Проставим-признак-цвет-для-оставшихся-3,2-тыс.-товаров-при-наличии-в-названии-товара-и-не-определённого-автоматически-признака-&quot;цвет&quot;-1.2.2.3">1.2.2.3. Проставим признак цвет для оставшихся 3,2 тыс. товаров при наличии в названии товара и не определённого автоматически признака "цвет"</a></span></li><li><span><a href="#1.2.2.4.-Проверим-однородность-значений-признаков-&quot;цвет&quot;-и-исправим-неоднородные-значения" data-toc-modified-id="1.2.2.4.-Проверим-однородность-значений-признаков-&quot;цвет&quot;-и-исправим-неоднородные-значения-1.2.2.4">1.2.2.4. Проверим однородность значений признаков "цвет" и исправим неоднородные значения</a></span></li></ul></li></ul></li><li><span><a href="#1.3.-Обогащение-данных-таблицы-personal_data" data-toc-modified-id="1.3.-Обогащение-данных-таблицы-personal_data-1.3">1.3. Обогащение данных таблицы personal_data</a></span><ul class="toc-item"><li><span><a href="#1.3.1.-Получим-данные-из-дополнительного-источника" data-toc-modified-id="1.3.1.-Получим-данные-из-дополнительного-источника-1.3.1">1.3.1. Получим данные из дополнительного источника</a></span></li><li><span><a href="#1.3.2.-Восстановим-данные-моделями-машинного-обучения" data-toc-modified-id="1.3.2.-Восстановим-данные-моделями-машинного-обучения-1.3.2">1.3.2. Восстановим данные моделями машинного обучения</a></span></li></ul></li></ul></li></ul></div>

In [1]:
# Загрузка биьлиотек
import pandas as pd
import sqlite3 as db

import datetime as dt
import multiprocessing
from multiprocessing import Pool, Manager

from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import LocalOutlierFactor
from sklearn.ensemble import IsolationForest
import pprint
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score

# 1. Предобработка данных

## 1.1. Анализ источников данных

In [2]:
# Предоставленная база данных
with db.connect('data/result_data/shop_database.db') as con:
    rows = con.cursor().execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    dfs = {}
    for row in rows:
        dfs[row[0]] = pd.read_sql(f'SELECT * FROM {row[0]}', con)
        print(f'\n{row[0]}')
        print(dfs[row[0]].info())

purchases
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786260 entries, 0 to 786259
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           786260 non-null  int64
 1   product      786260 non-null  object
 2   colour       666736 non-null  object
 3   cost         786260 non-null  int64
 4   product_sex  471548 non-null  float64
 5   base_sale    786260 non-null  int64
 6   dt           786260 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 42.0+ MB
None

personal_data_coeffs
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104989 entries, 0 to 104988
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             104989 non-null  int64
 1   lbt_coef       104989 non-null  float64
 2   ac_coef        104989 non-null  float64
 3   sm_coef        104989 non-null  float64
 4   personal_coef  104989 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 4.0 MB
None

personal_data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89241 entries, 0 to 89240
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         89241 non-null  int64
 1   gender     89241 non-null  int64
 2   age        89241 non-null  int64
 3   education  89241 non-null  object
 4   city       89241 non-null  int64
 5   country    89241 non-null  int64
dtypes: int64(5), object(1)
memory usage: 4.1+ MB
None

## 1.2. Устранение пропусков в данных

Пропущенные значения есть в таблице `product_sex` (15%) и `color` (40%). Это может быть следствием технической/организационой ошибок при заполнении данных или может отображать следующее:  
- для признака `product_sex` в случае унисекс товаров данные о гендерной принадлежности потенциальных покупателей товара не проставлялась,
- для признака `colour` часть информации могла попасть в наименование товара, часть информации может быть получены из информации по одноимённым товарам, а в случае когда товар не имеет цветовой характеристики (пищевые продукты, лекарственные средствва и т.п. или товары с незафиксированным признаком цвета по техническим или организационным причинам) цвет товара не проставлялся.  
Проверим вышеуказанные гипотизы

### 1.2.1. Проверим гипотезу что для товаров с пропуском в признаке "гендерная принадлежность потенциальных покупателей товара" есть признаки принадлежности к полу в наименовании товара

In [3]:
# Соберём уникальный перечень покупок
df_product_sex = dfs['purchases'].groupby('product').agg({'product_sex': 'max'})
df_product_sex['product'] = df_product_sex.index
df_product_sex.reset_index(drop=True, inplace=True)
print(f'Уникальные значения гендерной принадлежности '
      f'потенциального покупателя: {df_product_sex.product_sex.unique()}\n'
      f'Количесвто уникальных товаров: {len(df_product_sex)}')

Уникальные значения гендерной принадлежности потенциального покупателя: [nan  0.  1.]
Количесвто уникальных товаров: 23145

In [4]:
# Проверим какие покупки и с какими признаками гендерной принадлежности
# имеют в наименовании товара слова 'муж, жен'
def check_product_name_sex(x, fit) -> int:
    if fit in x:
        return 1
    else:
        return 0

df_product_sex['муж'] = df_product_sex['product'].\
                        apply(lambda x:check_product_name_sex(x,'муж'))
df_product_sex['жен'] = df_product_sex['product'].\
                        apply(lambda x: check_product_name_sex(x,'жен'))

In [5]:
# Проверим все ли товары,
# не имеющие гендерной принадлежности потенциального покупателя
# не имеют в названии явного указания на пол 'муж', 'жен'
df_product_sex['унисекс'] = df_product_sex.\
                            apply(lambda x: 1
                                 if x['муж'] == 0 and x['жен'] == 0
                                 else 0,
                                 axis=1)
# Определим количество строк где в названиии продукта нет гендерной принадлежности
# потенциального покупатнлы и не проставлены соответсвующие признаки
len(df_product_sex[(df_product_sex['унисекс'] != 1) & (df_product_sex.product_sex.isna())])

0

**Вывод:** В признаке `product_sex` пропущенные данные с большой вероятностью обозначают что товар пренадлежит к категории `унисекс`. Для возможности использования данного признака в дальнейшем проставим ему в датасете значение 2.0

In [6]:
# Заменим пустые значения признака `product_sex` на значение 2.0
dfs['purchases'].product_sex = dfs['purchases'].product_sex.fillna(2.0)

### 1.2.2. Проверим гипотезы о причинах пропусков знаений в признаке "цвет"

In [7]:
# первоначальный процент строк без заполненного значения признака "цвет"
round((len(dfs['purchases'][dfs['purchases']['colour'].isna()])/len(dfs['purchases'])) * 100, 2)

15.2

#### 1.2.2.1. Проверим попала ли информация об уникальныхзначениях признака "цвет" в наименование товара без признака "цвет"

In [8]:
# Создадим множество используемых названий цветов в товарах с проставленным признаком "цвет"
colors = list(dfs['purchases'][~dfs['purchases']['colour'].isna()]['colour'].
              apply(lambda x: x.split('/')))
colors_all = []
for color in colors:
    if isinstance(color, list):
        colors_all.extend(color)
colors_set = set(colors_all)
print(f'Количесвто уникальных цветов: {len(colors_set)}')

Количесвто уникальных цветов: 361

In [9]:
# Функция проверки наличия информации о цвете товара в наименовании товара
def check_name_product(product):
    colors = []
    for word in product.split(' '):
        if word in colors_set:
            colors.append(word)
    if len(colors):
        return '/'.join(colors)

In [10]:
# Получим датасет с отсутствующими значениями в признаке "цвет"
df_non_colors = dfs['purchases'][dfs['purchases']['colour'].isna()]
df_non_colors['colorus_new'] = df_non_colors['product'].apply(lambda x: check_name_product(x))
indexs_color = df_non_colors[~df_non_colors['colorus_new'].isna()]['colorus_new']

/var/folders/5h/1vkpjwr90l19cmzfgsfrcpvm0000gn/T/ipykernel_13216/1099927576.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_non_colors['colorus_new'] = df_non_colors['product'].apply(lambda x: check_name_product(x))

In [11]:
# Добавим полученные цвета в столбец датасета с покупками
for index, new_color in zip(indexs_color.index, indexs_color[indexs_color.index]):
    dfs['purchases'].loc[index, ['colour']] = new_color

In [12]:
# Процент строк без заполненного значения признака "цвет" после первого этапа предобработки данных
round((len(dfs['purchases'][dfs['purchases']['colour'].isna()])/len(dfs['purchases'])) * 100, 2)

15.04

**Вывод:** Данным методом удалось добавить только 0.16% значений признака "цвет"

#### 1.2.2.2. Проверим есть ли одноимённые товары с наличием значения в признаке "цвет" для товаров с пропущенным значением в признаке "цвет"

Проставим каждому товару из списка товаров без признака "цвет" наиболее часто встречающееся значение цвета.  
Для экономии времени при расчёте выполним присвоение в мультипроцессорном режиме

In [14]:
# Загрузим функции поиска во всех записях о товаре наиболее часто встречающихся значений признака "цвет"
# для наименований товаров, по которым есть записи с незаполненым признаком "цвет"
# (функции написаны в отдельном модуле для обеспечения требований блиотеки  multiprocessing)
from package.preparation import add_freq_product_color, freq_product_color

In [15]:
# Сформируем датасеты:

# df_1 - датасет в котором среди уникальных наименований товара будем искать такие товары,
#        в которых проставлено наиболее часто встречающееся значение признака "цвет" для этого товара 
df_1 = dfs['purchases'][['product', 'colour']]

# df_2 - датасет в котором сформируем список всех уникальных товаров с пропущенным значение признака "цвет"
df_2 = df_1[df_1['colour'].isna()].groupby('product').agg({'colour': 'max'})
df_2.reset_index(inplace=True)

In [16]:
######   ЗАПУСКАЕМ РАСЧЁТЫ В МНОГОПРОЦЕССОРНОМ РЕЖИМЕ   ######

In [17]:
# 1. Рассчитываем количество ядер процесса, которые можно задействовать для вычислений
#    (уменьшаем количество доступных ядер на 1 ядро, которое оставляем на системные потребности)
n_cpu = multiprocessing.cpu_count() - 1
print('Количество доступных процессоров:', n_cpu)

# 2. Расчитаем минимальный размер обрабатываемых парралельно подмассивов
# (по кратности ядер, которые будем использовать)
val_sub = int(len(df_2)/n_cpu)
print('Размеры подмассивов:', val_sub, '\n')

Количество доступных процессоров: 7
Размеры подмассивов: 1682

In [18]:
# Ииспользуем признак работы в главном модуле (для обеспечения требований блиотеки  multiprocessing)
if __name__ == '__main__':
    
    # Начнём замер времени
    start_time = dt.datetime.now()
    print('ВРЕМЯ СТАРТА РАСЧЁТА:', start_time, '\n')
    
    # Распарралелим расчёты между доступными ядрами процессора
    # 3. Создаём менеджера парралельных процессов
    #    и его пространство имён для обмена данными между процессами
    with Manager() as mng:
        ns = mng.Namespace()
        ns.dfs = mng.list()
        df = df_1
        df_u = df_2
        print(f'Размеры массивов: {len(df_u)} и {len(df)}\n\n')
        
        # 4. Делим датасет на составляющие,
        #    которые будут рассчитываться в парралельных процессах
        for i in range(n_cpu - 1):
            df = df_1.copy()
            ns.dfs.append((df_u[val_sub*i:val_sub*(i+1)], df.copy()))
            print(f'Подготовлен {i+1} массив размером: {len(ns.dfs[i][0])} для сравнения с {len(ns.dfs[i][1])}')
        ns.dfs.append((df_u[(n_cpu-1)*val_sub:], df.copy()))
        print(f'Подготовлен последний массив размером: {len(ns.dfs[i+1][0])} для сравнения с {len(ns.dfs[i+1][1])}')

        # 5. Запустим пул парралельных процессов вычислений
        #    и результат объединим в единый датафрейм
        with Pool(processes=n_cpu) as p:
            print(f'... запущен параллельный расчёт на {n_cpu} ядрах процессора ...')
            df_non_colours = pd.concat(list(p.map(add_freq_product_color, ns.dfs)), axis=0)

    # Закончим замер времени
    finish_time = dt.datetime.now()
    print('\n\nВРЕМЯ ОКОНЧАНИЯ РАСЧЁТА:', finish_time)
    print('ВРЕМЯ ВЫПОЛНЕНИЯ:', finish_time - start_time, '\n' * 2)

ВРЕМЯ СТАРТА РАСЧЁТА: 2023-10-14 02:14:47.574795

Размеры массивов: 11775 и 786260


Подготовлен 1 массив размером: 1682 для сравнения с 786260
Подготовлен 2 массив размером: 1682 для сравнения с 786260
Подготовлен 3 массив размером: 1682 для сравнения с 786260
Подготовлен 4 массив размером: 1682 для сравнения с 786260
Подготовлен 5 массив размером: 1682 для сравнения с 786260
Подготовлен 6 массив размером: 1682 для сравнения с 786260
Подготовлен последний массив размером: 1683 для сравнения с 786260
... запущен параллельный расчёт на 7 ядрах процессора ...


ВРЕМЯ ОКОНЧАНИЯ РАСЧЁТА: 2023-10-14 02:19:55.013324
ВРЕМЯ ВЫПОЛНЕНИЯ: 0:05:07.438529

In [19]:
# Сформируем датасет с вновь заполненным признаком "цвет"
df_3 = df_non_colours[~df_non_colours['freq_color'].isna()]

# Создадим словарь восстановленных данных о признаке "цвет"
recovered_color_data = {}
for key, value in zip(list(df_3['product']), list(df_3['freq_color'])):
    recovered_color_data[key] = value

In [20]:
# Функция добавления восстановленных данных в признак "цвет"
def replace_none_1(product, colour, recovered_color_data):
    if pd.isna(colour):
        if product in list(recovered_color_data.keys()):
            return recovered_color_data[product]
        else:
            return None
    else:
        return colour

In [21]:
# Добавим восстановленные записи признака "цвет" в исходный датасет с товарами
dfs['purchases']['colour'] = dfs['purchases'].apply(lambda x:
                                                    replace_none_1(x['product'],
                                                                   x['colour'],
                                                                   recovered_color_data),
                                                    axis=1)

In [22]:
# Процент строк без заполненного значения признака "цвет" после первого этапа предобработки данных
round((len(dfs['purchases'][dfs['purchases']['colour'].isna()])/len(dfs['purchases'])) * 100, 2)

0.42

**Вывод:** Данным методом удалось добавить только 14.62% значений признака "цвет" и довести уровень заполненности данного признака до 99,6%

#### 1.2.2.3. Проставим признак цвет для оставшихся 3,2 тыс. товаров при наличии в названии товара и не определённого автоматически признака "цвет"

Создадим словарь цветов и их сочетаний, визуально выявленных в названиях 3,2 тыс. товаров, в которых не удалось проставить признак "цвет" автоматически

In [23]:
colors_manual = {'(бесцветный)': 'бесцветный', '(зеленый': 'зеленый', 'зеленый)': 'зеленый',
                 '(камуфляж)': 'милитари', '(серый': 'серый', 'серый)': 'серый',
                 'белая': 'белый', 'голубой/белый': 'голубой/белый',
                 'горчичный/темно-серый': 'горчичный/темно-серый',
                 'зеленый/морковный': 'зеленый/морковный', 'красный/никель': 'красный/никель',
                 'люминисцентно-желтый': 'люминисцентно-желтый', 'синий/авокадо': 'синий/авокадо',
                 'фиолетовый/белый': 'фиолетовый/белый',
                 'black': 'черный', 'white': 'белый', 'blue': 'синий', 'red': 'красный',
                 'green': 'green', 'gray': 'серый', 'lavender': 'лавандовый',
                 'blue/green': 'синий/зеленый', 'blue/white': 'синий/зеленый',
                 'bright blue': 'светло-синий', 'dark blue': 'темно-синий',
                 'multicolor': 'мультицвет', 'white/gray/lavender': 'белый/серый/лавандовый'}

In [24]:
# Функция добавления в признак "цвет" восстановленных данных из названия товара
def replace_none_2(product, colour, recovered_color_data):
    if pd.isna(colour):
        for word in product.split(' '):
            if word in list(recovered_color_data.keys()):
                return recovered_color_data[word]
            else:
                return None
    else:
        return colour

In [25]:
# Добавим восстановленные записи признака "цвет" в исходный датасет с товарами
dfs['purchases']['colour'] = dfs['purchases'].apply(lambda x:
                                                    replace_none_2(x['product'],
                                                                   x['colour'],
                                                                   colors_manual),
                                                    axis=1)

In [26]:
# Процент строк без заполненного значения признака "цвет" после первого этапа предобработки данных
round((len(dfs['purchases'][dfs['purchases']['colour'].isna()])/len(dfs['purchases'])) * 100, 2)

0.42

**Вывод:** Данным методом удалось добавить только 0.03% значений признака "цвет", уровень заполненности данного признака остался  равным 99,6%

#### 1.2.2.4. Проверим однородность значений признаков "цвет" и исправим неоднородные значения

In [27]:
# Функция приведения всех букв признака цвет к нижнему регистру и замены буквы 'ё' на 'е'
def replace_symbol(colour):
    if not pd.isna(colour):
        colour = colour.lower()
        colour = colour.replace('ё', 'е')
        return colour
    else:
        return None

In [28]:
# Приведём все значения признаков цвет к нижнему регистру и заменим все буквы 'ё' на 'е'
dfs['purchases']['colour'] = dfs['purchases']['colour'].apply(lambda x: replace_symbol(x))

In [29]:
# Создадим множество используемых названий цветов в товарах с проставленным признаком "цвет"
colors = list(dfs['purchases'][~dfs['purchases']['colour'].isna()]['colour'].
              apply(lambda x: x.split('/')))
colors_all = []
for color in colors:
    if isinstance(color, list):
        colors_all.extend(color)
colors_set = set(colors_all)
print(f'Количесвто уникальных цветов: {len(colors_set)}')

Количесвто уникальных цветов: 328

In [30]:
# Создадим словарь одородности названий признака "цвет"
uniformity_colours = {
                      'cеребряный': 'серебряный',
                      'антрацит': 'антрацитовый', 'бeлый': 'белый', 'волна': 'волны',
                      'графит': 'графитовый', 'золото': 'золотистый', 'золотой': 'золотистый',
                      'ирис': 'ирисовый', 'камуфляж': 'камуфляжный', 'клетка': 'клетчатый',
                      'коралл': 'коралловый', 'лайм': 'лаймовый', 'леопард': 'леопардовый',
                      'металлик': 'металлический', 'милитари': 'камуфляжный',
                      'мультиколор': 'многоцветный', 'мультицвет': 'многоцветный',
                      'нюд': 'нюдовый', 'персик': 'персиковый', 'полоски': 'полоска',
                      'св.розовый': 'светло-розовый', 'серебро': 'серебряный',
                      'серебристый': 'серебряный', 'сиинй': 'синий', 'синий-белый': 'сине-белый',
                      'хром': 'хромовый', 'цветной': 'многоцветный',
                      'черный-белый': 'черно-белый', 'черный-желтый': 'черно-желтый',
                      'черный-красный': 'черно-красный', 'яблоко': 'яблочный', 
                      }

In [32]:
# Функция замены значения признака "цвет" на однородное по всему датасету
def replace_none_3(colour, uniformity_colours):
    if not pd.isna(colour):
        words_colour = colour.split('/')
        words_uniformity = []
        for word in words_colour:
            if word in list(uniformity_colours.keys()):
                words_uniformity.append(uniformity_colours[word])
            else:
                words_uniformity.append(word)
        return ('/').join(words_uniformity)
    else:
        return None

In [33]:
# Приведём все значения признака "цвет" к однородным
dfs['purchases']['colour'] = dfs['purchases']['colour'].apply(lambda x:
                                                              replace_none_3(x,
                                                                             uniformity_colours))

In [34]:
# Создадим множество используемых названий цветов в товарах с проставленным признаком "цвет"
colors = list(dfs['purchases'][~dfs['purchases']['colour'].isna()]['colour'].
              apply(lambda x: x.split('/')))
colors_all = []
for color in colors:
    if isinstance(color, list):
        colors_all.extend(color)
colors_set = set(colors_all)
print(f'Количесвто уникальных цветов: {len(colors_set)}')

Количесвто уникальных цветов: 299

In [35]:
# Заменим пустые значения признака "цвет" на значение 'неопределенный',
# так как оно уже существует в значениях признака отдельных товаров
dfs['purchases'].colour = dfs['purchases'].colour.fillna('неопределенный')

In [36]:
dfs['purchases'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786260 entries, 0 to 786259
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           786260 non-null  int64
 1   product      786260 non-null  object
 2   colour       786260 non-null  object
 3   cost         786260 non-null  int64
 4   product_sex  786260 non-null  float64
 5   base_sale    786260 non-null  int64
 6   dt           786260 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 42.0+ MB

## 1.3. Обогащение данных таблицы personal_data

### 1.3.1. Получим данные из дополнительного источника

In [37]:
# Прочитаем восстановленные данные
df_recovered  = pd.read_csv('data/result_data/personal_data.csv')
df_recovered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15748 entries, 0 to 15747
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         15748 non-null  int64
 1   age        15748 non-null  int64
 2   education  15748 non-null  object
 3   city       15748 non-null  int64
 4   country    15748 non-null  int64
dtypes: int64(4), object(1)
memory usage: 615.3+ KB

In [38]:
# Добавим восстановленные данные в общий датафрейм
dfs['personal_data_recovered'] = pd.concat([dfs['personal_data'], df_recovered], axis=0)
dfs['personal_data_recovered'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104989 entries, 0 to 15747
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         104989 non-null  int64
 1   gender     89241 non-null   float64
 2   age        104989 non-null  int64
 3   education  104989 non-null  object
 4   city       104989 non-null  int64
 5   country    104989 non-null  int64
dtypes: float64(1), int64(4), object(1)
memory usage: 5.6+ MB

### 1.3.2. Восстановим данные моделями машинного обучения

Необхлодимо выбрать и обучить модель для прогнозирования признака "gender" в записях с недостающими значениями такого признака.  
Для обучения подготовим датасет

In [39]:
# С целью получения максимально большого массива данных для обучении модели
# объединим датасеты 'purchases', 'personal_data_coeffs', 'personal_data'
df_personal = dfs['personal_data_recovered'].set_index('id').\
                                             join(dfs['personal_data_coeffs'].set_index('id'))
df = dfs['purchases'].set_index('id').join(df_personal)
# Перенесём id покупателя в отдельный признак итогового датасета и сбросим индексы
# (это необходимо для дальнейшей работы при выявлении аномальных записей в датасете)
df.reset_index(drop=False, inplace=True)

In [40]:
# Выделим данные с заполненным признаком 'gender' для формирования датасета для обучения модели классификации
df_train_test = df[~df.gender.isna()]
df_train_test.reset_index(inplace=True)
df_train_test.head(3)

,index,id,product,colour,cost,product_sex,base_sale,dt,gender,age,education,city,country,lbt_coef,ac_coef,sm_coef,personal_coef
0,0,0,"Велосипед горный женский Stern Mira 2.0 26""",белый/синий,13599,0.0,1,7,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072
1,1,0,Стол Outventure,зеленый,1499,2.0,0,37,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072
2,2,0,Набор Outventure: стол + 4 стула,бежевый,4799,2.0,0,37,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072

Перед обучением модели целесообразно проверить данные на аномалии и исключить такие данные из обучающего датасета.  
1) При проверки датасета на аномальные записи используем три метода, результаты которых дополним друг другом для повышения качества обучающей выборки.  
2) При проверки данных на аномалии не будем учитывать значения признаков `id`, `lbt_coef`, `ac_coef`, `sm_coef` - так как эти данные уникальны почти для каждого покупателя, а значит не принесут пользы для факторной оценки данных и дальнейшего обучения модели.  
3) При использовании методов попризнакового выявления аномалий не будем учитывать признаки `product_sex`,`base_sale`,`education` - так как они имеют понятные уникальные значения без аномалий (выявлено визуально). Также не будем учитывать признак `gender` - так как это целевая переменная для обуения модели.

In [41]:
# Определим колонки для попризнакового выявления аномалий
check_columns = ['index', 'product', 'colour', 'cost', 'dt', 'age', 'city', 'country', 'personal_coef']

In [42]:
# Проведём кодирование каждого признака 
df_fit = pd.DataFrame()
for column in check_columns:
    le = LabelEncoder()
    df_fit[column] = le.fit_transform(df_train_test[column])
df_fit.head()

   index  product  colour  cost  dt  age  city  country  personal_coef
0      0     3259     203  1475   7   31   694       16             13
1      1    17773     433   371  37   31   694       16             13
2      2    12187      35   882  37   31   694       16             13
3      3    15582    1456  1256   0   30   627       16             13
4      4    21057      87   907   0   30   627       16             13

In [43]:
df_fit.index = df_fit['index']
df_fit.drop(columns=['index'], axis=1, inplace=True)

In [44]:
# Инициализируем словарь индексов, в котором будем фиксировать:
# метод выявления аномалий; список индексов записей-аномалий
indexs = {'Quantile': []}

In [45]:
# Заполним словарь индексов записей-аномалий, индексами аномалий,
# выявленными квантилями более 3-сигма
for column in df_fit.columns:
    quantile_indexs = list(df_fit[df_fit[column] > df_fit[column].quantile(0.997)].index)
    if len(quantile_indexs) > 0:
        indexs['Quantile'].extend(quantile_indexs)
indexs['Quantile'] = list(set(indexs['Quantile']))

In [46]:
# Заполним словарь индексов записей-аномалий, индексами аномалий,
# выявленными Локалфактором и Изолесом
lof = LocalOutlierFactor(n_neighbors=693, n_jobs=-1)
ifo = IsolationForest(max_samples=12300, n_jobs=-1, random_state=42)
pred_lof = lof.fit_predict(df_fit)
pred_ifo = ifo.fit_predict(df_fit)
indexs['LocalOutlierFactor'] = list(df_fit[pred_lof == -1].index)
indexs['IsolationForest'] = list(df_fit[pred_ifo == -1].index)

In [47]:
# Сформируемый единый список индексов, полученных всеми методами
indexs_all = []
# Определим долю выбросов, выявленную каждым методом
for method in indexs.keys():
    count_anomaly = len(indexs[method])
    print(f"Методом '{method}' выявлено {count_anomaly} записей-аномалий,", end=' ')
    print(f"что составляет {round(count_anomaly/len(df_train_test) * 100, 2)}% всех записей")
    indexs_all.extend(indexs[method])
indexs_all = list(set(indexs_all))
indexs_all.sort()
print(f'\nИТОГО вывленных записей-аномалий {len(indexs_all)},', end=' ')
print(f'что составляет {round(len(indexs_all)/len(df_train_test) * 100, 2)}% всех записей')

Методом 'Quantile' выявлено 8928 записей-аномалий, что составляет 1.33% всех записей
Методом 'LocalOutlierFactor' выявлено 35630 записей-аномалий, что составляет 5.32% всех записей
Методом 'IsolationForest' выявлено 61030 записей-аномалий, что составляет 9.11% всех записей

ИТОГО вывленных записей-аномалий 82150, что составляет 12.26% всех записей

In [48]:
# Удалим из обучающего датасета записи с признаками аномалий
df_train_test_norm = df_train_test.drop(index=indexs_all)

In [49]:
# Проверим сбалансированность записей датасета по целевому признаку
balance = df_train_test_norm.gender.value_counts()
print(f'Положительный класс: {balance[1]} ({round(balance[1]/(balance[0]+balance[1])*100)})%')
print(f'Отрицательный класс: {balance[0]} ({round(balance[0]/(balance[0]+balance[1])*100)})%')

Положительный класс: 324347 (55)%
Отрицательный класс: 263459 (45)%

**Вывод:** Так как датасет неполностью сбалансирован используем при обучении моделей параметр `class_weight='balanced'`, который позволяет учесть разбалансировку до соотношения (57%/43%)

In [50]:
df_train_test_norm.head(3)

,index,id,product,colour,cost,product_sex,base_sale,dt,gender,age,education,city,country,lbt_coef,ac_coef,sm_coef,personal_coef
0,0,0,"Велосипед горный женский Stern Mira 2.0 26""",белый/синий,13599,0.0,1,7,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072
1,1,0,Стол Outventure,зеленый,1499,2.0,0,37,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072
2,2,0,Набор Outventure: стол + 4 стула,бежевый,4799,2.0,0,37,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072

In [51]:
# Закодируем категориальные признаки 'product', 'colour', 'education':
le1 = LabelEncoder()
df_train_test_norm_ = df_train_test_norm.copy()
for col in ['product', 'colour', 'education']:
    le1.fit(list(set(df_train_test_norm_[col].dropna().unique())))
    df_train_test_norm_[col] = le1.transform(df_train_test_norm_[col])
df_train_test_norm_.head(3)

,index,id,product,colour,cost,product_sex,base_sale,dt,gender,age,education,city,country,lbt_coef,ac_coef,sm_coef,personal_coef
0,0,0,2753,179,13599,0.0,1,7,0.0,36,1,1201,32,5.078678,-0.307147,0.959027,0.5072
1,1,0,16189,400,1499,2.0,0,37,0.0,36,1,1201,32,5.078678,-0.307147,0.959027,0.5072
2,2,0,11116,21,4799,2.0,0,37,0.0,36,1,1201,32,5.078678,-0.307147,0.959027,0.5072

In [53]:
# Стандартизуем не бинарные признаки, которые будем использовать при обучении
ss = StandardScaler()
for col in ['product', 'colour', 'cost', 'dt', 'age', 'city', 'country', 'personal_coef']:
    df_train_test_norm_[col] = ss.fit_transform(df_train_test_norm_[[col]])
df_train_test_norm_.head(3)

,index,id,product,colour,cost,product_sex,base_sale,dt,gender,age,education,city,country,lbt_coef,ac_coef,sm_coef,personal_coef
0,0,0,-1.358996,-1.533852,1.542745,0.0,1,-1.046609,0.0,-0.27796,1,0.828864,0.0,5.078678,-0.307147,0.959027,0.803887
1,1,0,0.979997,-1.034691,-0.530135,2.0,0,0.705950,0.0,-0.27796,1,0.828864,0.0,5.078678,-0.307147,0.959027,0.803887
2,2,0,0.096869,-1.890718,0.035196,2.0,0,0.705950,0.0,-0.27796,1,0.828864,0.0,5.078678,-0.307147,0.959027,0.803887

In [54]:
# Признаки используемые при обучении модели
cols = ['product', 'colour', 'cost', 'product_sex', 'base_sale', 'dt', 'age', 'education',
        'city', 'country', 'personal_coef']

In [55]:
# Подготовим датасет для обучения
X_train, X_test, y_train, y_test = train_test_split(df_train_test_norm_[cols],
                                                    df_train_test_norm_['gender'],
                                                    test_size=0.3, random_state=42)

In [56]:
# Обучим модель "Линейная регресия"
lr = LogisticRegression(class_weight='balanced')
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print(f'Метрика: {accuracy_score(y_test, y_pred)}')

Метрика: 0.9912783114629526

In [57]:
# Обучим модель "Случайный лес Деревьев принятия решения"
rf = RandomForestClassifier(class_weight='balanced')
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print(f'Метрика: {accuracy_score(y_pred, y_test)}')

Метрика: 1.0

In [59]:
# Обучим модель "Нейронная сеть - ПЕРЦЕПТРОН"
mlp = MLPClassifier()
mlp.fit(X_train, y_train)
y_pred = rf.predict(X_test)
print(f'Метрика: {accuracy_score(y_pred, y_test)}')

Метрика: 1.0

**Вывод:** Метрики трёх алгоритмов машинного обучения показали высокое качество предсказаний, что может свидетельствовать о наличии признаков, тесно связанных с целевой переменной. При решении нашей задачи - это положительный фактор. Для восстановления пропущенных данных в признаке `gender` выбирем алгоритм "Случайный лес" так как данный алгоритм показал максимальное значение метрики (1) при минимальном времени обучения (28 сек.).

In [60]:
# Обучим модель "Случайный лес Деревьев принятия решения" на всех имеющихся данных 
rf = RandomForestClassifier(class_weight='balanced')
rf.fit(df_train_test_norm_[cols], df_train_test_norm_['gender'])

RandomForestClassifier(class_weight='balanced')

In [61]:
# Выберем, закодируем и стандартизуем признаки записей,
# в которых необходимо восстановить знпачени признака 'gender'
df_pred = df[df.gender.isna()]
gender_index = df_pred.index

# Закодируем категориальные признаки 'product', 'colour', 'education':
le2 = LabelEncoder()
df_pred_ = df_pred.copy()
for col in ['product', 'colour', 'education']:
    le1.fit(list(set(df_pred_[col].dropna().unique())))
    df_pred_[col] = le1.transform(df_pred_[col])

# Стандартизуем не бинарные признаки, которые будем использовать при обучении
ss = StandardScaler()
for col in ['product', 'colour', 'cost', 'dt', 'age', 'city', 'country', 'personal_coef']:
    df_pred_[col] = ss.fit_transform(df_pred_[[col]])
df_pred_.head(3)

,id,product,colour,cost,product_sex,base_sale,dt,gender,age,education,city,country,lbt_coef,ac_coef,sm_coef,personal_coef
3,3,-1.404714,-1.711752,-0.370080,1.0,0,-0.693454,NaN,-0.601036,1,0.018259,0.003842,7.764766,-0.030225,0.79472,-0.474307
4,3,0.091138,-0.553376,0.177158,2.0,0,0.116252,NaN,-0.601036,1,0.018259,0.003842,7.764766,-0.030225,0.79472,-0.474307
5,3,-0.859274,-1.711752,-0.252814,1.0,1,0.521105,NaN,-0.601036,1,0.018259,0.003842,7.764766,-0.030225,0.79472,-0.474307

In [62]:
# Восстановим признак 'gender' с помощью обученной ранее модели, используя признаки с непустыми данными
gender_pred = rf.predict(df_pred_[cols])
df_gender = pd.DataFrame({'gender': gender_pred})
df_gender.index = gender_index

In [63]:
# Добавим восстановленные значения в общий датафрейм
for ind in df_gender.index:
    df.loc[ind, 'gender'] = df_gender.loc[ind, 'gender']
df.head(6)

,id,product,colour,cost,product_sex,base_sale,dt,gender,age,education,city,country,lbt_coef,ac_coef,sm_coef,personal_coef
0,0,"Велосипед горный женский Stern Mira 2.0 26""",белый/синий,13599,0.0,1,7,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072
1,0,Стол Outventure,зеленый,1499,2.0,0,37,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072
2,0,Набор Outventure: стол + 4 стула,бежевый,4799,2.0,0,37,0.0,36,среднее,1201,32,5.078678,-0.307147,0.959027,0.5072
3,3,Бутсы мужские GSD Astro,белый,1599,1.0,0,13,1.0,31,среднее,1134,32,7.764766,-0.030225,0.794720,0.4304
4,3,Мяч футбольный PUMA TEAMFINAL 21.2 FIFA QUALIT...,многоцветный,7199,2.0,0,27,1.0,31,среднее,1134,32,7.764766,-0.030225,0.794720,0.4304
5,3,Кеды мужские FILA A-Low,белый,2799,1.0,1,34,1.0,31,среднее,1134,32,7.764766,-0.030225,0.794720,0.4304

In [213]:
# Загрузим итоговый датаcет в хранилище (база данных sqlite3)
connection = db.connect('data/purchases.db')
print("База данных создана и подключена")
df.to_sql("full_table", connection, if_exists="replace", index=False)
print("Таблица заполнена")
connection.close()
print("Соединение с базой данных закрыто")

База данных создана и подключена
Таблица заполнена
Соединение с базой данных закрыто

In [66]:
# Проверим полноту данных в итоговом датасете
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786260 entries, 0 to 786259
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             786260 non-null  int64
 1   product        786260 non-null  object
 2   colour         786260 non-null  object
 3   cost           786260 non-null  int64
 4   product_sex    786260 non-null  float64
 5   base_sale      786260 non-null  int64
 6   dt             786260 non-null  int64
 7   gender         786260 non-null  float64
 8   age            786260 non-null  int64
 9   education      786260 non-null  object
 10  city           786260 non-null  int64
 11  country        786260 non-null  int64
 12  lbt_coef       786260 non-null  float64
 13  ac_coef        786260 non-null  float64
 14  sm_coef        786260 non-null  float64
 15  personal_coef  786260 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 96.0+ MB

In [68]:
# Оптимизируем используемую память
# Определяем список загруженных датафреймов
dfs = []
local_variable_scope =locals().keys()
for elem in local_variable_scope:
    if 'df' in elem:
        dfs.append(elem)
# Удаляем не используемые датафреймы
for elem in dfs:
    del locals()[elem]